In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('../data/2022_High_Volume_FHV_Trip_Records_20240409.csv')

In [24]:
df['drive_rev'] = df['tips'] + df['driver_pay']
df.head()

   tips  driver_pay        request_datetime  drive_rev
0   0.0        9.34  04/24/2022 01:54:36 PM       9.34
1   0.0        6.66  04/24/2022 01:28:37 PM       6.66
2   1.0       18.52  04/24/2022 01:11:06 PM      19.52
3   0.0        8.62  04/24/2022 01:37:34 PM       8.62
4   0.0       11.01  04/24/2022 12:56:58 PM      11.01

In [25]:
df.isna().sum()

tips                0
driver_pay          0
request_datetime    0
drive_rev           0
dtype: int64

In [26]:
df = df.rename(columns={'request_datetime': 'date'})
df.head(3)

   tips  driver_pay                    date  drive_rev
0   0.0        9.34  04/24/2022 01:54:36 PM       9.34
1   0.0        6.66  04/24/2022 01:28:37 PM       6.66
2   1.0       18.52  04/24/2022 01:11:06 PM      19.52

In [ ]:
df['date'] = pd.to_datetime(df['date'], format = 'mixed')

In [ ]:
df['time'] = df['date'].dt.time
df['date'] = df['date'].dt.date
df = df.set_index(df['date'])

In [15]:
df.head()

   tips  driver_pay       date  drive_rev      time
0   0.0       19.38 2022-12-16      19.38  00:00:00
1   0.0       38.50 2022-12-16      38.50  00:00:00
2   0.0       36.34 2022-12-16      36.34  00:00:00
3   0.0       17.72 2022-12-16      17.72  00:00:00
4   0.0       12.88 2022-12-16      12.88  00:00:00

In [ ]:
df = df.sort_index()
df.sort_index()